* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --azul: rgba(51, 128, 202, 1);
    --azul-claro: rgba(238, 243, 255, 1);
    --preto: black;
    --branco: white;
}

body {
    background-color: var(--branco);
}

.logo-header {
    height: 100px;
    width: auto;
    padding: 20px;
}

section {
    display: flex;
}

.titulo {
    color: var(--azul);
    text-align: center;
    font-weight: bold;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.login {
    display: flex;
    flex-direction: column;
}

.coisa {
    text-align: left;
    color: var(--azul);
    font-weight: bold;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 3px;
}

.inserir {  
    border-radius: 5px;
    padding: 7px; 
    margin-bottom: 10px;
    border: 2px solid var(--azul);
    color: var(--azul);
    background-color: var(--azul-claro);
}

input::placeholder {
    font-weight: bold;
    color: var(--preto);
    opacity: 0.5;
}

.botao-login {
    padding: 7px;
    margin-top: 20px;
    color: var(--azul);
    background-color: var(--branco);
    border: 3px solid var(--azul);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
}

.botao-login:hover {
    background-color: var(--azul);
    color: var(--branco);
    transition: 0.2s;
}

.texto {
    padding-top: 20px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: var(--azul);
}