<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Livro</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="../static/css/addLivro.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="../static/js/scripts.js"></script>
    <script src="../static/js/seguranca.js" defer></script>
    <link rel="icon" type="image/x-icon" href="../static/img/head-removebg-preview.png">
</head>
<body>
    <div class="container">
        <header>
            <!-- Logo -->
            <div class="header-left">
                <img src="../static/img/logo.png" alt="Logo">
            </div>
    
            <!-- Barra de Pesquisa -->
            <div class="header-center">
                <div class="search-container">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Pesquise Seu Livro" class="search-box">
                </div>
            </div>
    
            <!-- Dark Mode -->
            <div class="header-right">
                <div class="switch-container">
                    Dark Mode
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
    
            <!-- Ícone de Menu com Dropdown -->
            <div class="header-end">
                <div class="menu-container">
                    <div class="menu-icon" id="menuButton">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <ul class="dropdown-menu" id="dropdownMenu">
                        <li class="menu-item"><i class="fas fa-user"></i> Perfil</li>
                        <li class="menu-item"><i class="fas fa-user"></i>Adicionar Bibliotecario</li>   
                        <hr>
                        <li class="menu-item"><i class="fa-solid fa-cash-register"></i>Gerenciar Multas</li>
                        <li class="menu-item"><i class="fas fa-book"></i> Gerenciar Livros</li>
                        <li class="menu-item"><i class="fas fa-sync-alt"></i>Empréstimos</li>
                        <hr>
                        <li class="menu-item"><i class="fas fa-sign-out-alt"></i> Sair</li>
                    </ul>
                </div>
            </div>
        </header>

        <form>
            <div class="left">
                <label for="titulo">Título:</label>
                <input class="text" type="text" id="titulo" name="titulo">

                <label for="autor">Autor:</label>
                <input class="text" type="text" id="autor" name="autor">

                <label for="quantidade">Quantidade Disponível:</label>
                <input class="text" type="number" id="quantidade" name="quantidade">
            </div>

            <div class="right">

                <label for="categoria">Categoria:</label>
                <input class="text" type="text" id="categoria" name="categoria">

                <label for="descricao">Descrição:</label>
                <textarea class="text" id="descricao" name="descricao"></textarea>
                

                <label for="isbn">ISBN:</label>
                <input class="text" type="text" id="isbn" name="autor">

            </div>

            <label for="imagem">Imagem do Livro:</label>
            <input type="file" id="imagem" name="imagem" accept="image/*">

        </form>

        <button class="cadastro" type="submit">Cadastrar</button>
    </div>


<script>

    $("#formCadastro").on("submit", function (e) {
        //Faz com que a pagine não atualize, previne ações basicas
        e.preventDefault();

        let dados = new FormData(this);

        let envia = {
            titulo: dados.get("titulo"),
            categoria: dados.get("categoria"),
            autor: dados.get("autor"),
            quantidade: dados.get("quantidade"),
            descricao: dados.get("telefone"),
            imagem: dados.get("imagem")
        }

        envia = JSON.stringify(envia)

        $.ajax({
            method: "POST",
            url: "http://192.168.1.116:5000/livros",
            data: envia,

            contentType: "application/json",

            success: function (retorno) {
                Swal.fire({
                        title: "Sucesso!",
                        text: "Livro feito com sucesso",
                        icon: "success"
                    }).then((result) => {
                        window.location.href = "home.html";
                    } )
            },
            error: function (retorno) {
                Swal.fire({
                        title: "Inválido!",
                        text: "livro inválido",
                        icon: "error"
                    });
            },
        })
    })

</script>

</body>
</html>
