<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- SEGURANÇA DO SITE (IMPEDE A NAVEGAÇÃO P' OUTRAS PÁGINAS APENAS POR MEIO DO LINK) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/paginaip.js"></script>
    <script src="../static/js/scripts.js"></script>
    <link rel="stylesheet" href="../static/css/livros.css">

    <script src="../static/js/seguranca.js" defer></script>
    <script src="../static/js/segurancaADM.js" defer></script>

    <!-- FIM DO SCRIPT DA SEGURANÇA -->
    <link rel="icon" type="image/x-icon" href="../static/img/head-removebg-preview.png">
</head>

<body>
    <header>
        <!-- Logo -->
        <div class="header-left">
            <a id="logoHeader" href="home.html"><img src="../static/img/logo.png" alt="Logo"></a>
        </div>

        <!-- Barra de Pesquisa -->
        <div class="header-center">
            <div class="search-container">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Pesquise Seu Livro" class="search-box">
            </div>
        </div>

        <!-- Dark Mode -->

        <!-- Ícone de Menu com Dropdown -->
        <div class="header-end">
            <div class="menu-container">
                <div class="menu-icon" id="menuButton">
                    <div class="menulinha"></div>
                    <div class="menulinha"></div>
                    <div class="menulinha"></div>
                </div>

                <ul class="dropdown-menu" id="dropdownMenu">

                    <li class="menu-item"><i class="fa-solid fa-circle-user"></i><a id="editPerfil"
                            href="editPerfil.html"> Perfil</a>
                    </li>

                    <div id="cliente">
                        <li class="menu-item"><i class="fas fa-book"></i><a href="emprestimos.html">Empréstimos</a></li>
                        <li class="menu-item"><i class="fas fa-sync-alt"></i><a href="historico.html">Histórico</a></li>
                    </div>



                    <div id="adm">
                        <li class="menu-item"><i class="fa-solid fa-user-plus"></i><a
                                href="addUsuarioADM.html">Adicionar Usuário</a></li>

                        <li class="menu-item"><i class="fas fa-user"></i><a href="usuariosADM.html"> Gerenciar
                                Usuários</a></li>

                        <li class="menu-item"><i class="fa-solid fa-file-export"></i><a
                                href="relatoriosADM.html">Relatórios</li></a>

                        <li class="menu-item"><i class="fa-solid fa-cash-register"></i><a
                                href="multasADM.html">Gerenciar Multas</li></a>

                        <li class="menu-item"><i class="fas fa-book"></i><a href="editLivrosADM.html">Gerenciar Livros
                        </li></a>

                        <li class="menu-item"><i class="fas fa-sync-alt"></i><a href="emprestimosADM.html">Empréstimos
                        </li></a>

                    </div>

                    <div id="biblio">
                        <li class="menu-item"><i class="fas fa-book"></i><a href="emprestimosBiblio.html">
                                Empréstimos</a></li>

                        <li class="menu-item"><i class="fa-solid fa-file-export"></i><a
                                href="relatoriosBiblio.html">Relatórios</a></li>

                        <li class="menu-item"><i class="fas fa-sync-alt"></i><a href="livrosBiblio.html"> Gerenciar
                                Livros</a></li>
                    </div>

                    <li class="menu-item"><i class="fas fa-sign-out-alt"></i><button class="sair ">Sair</button>
                    </li>
                </ul>

            </div>
        </div>
    </header>

    <h1>Gerenciamento de Livros</h1>

    <section id="livrosContainer">
        <div class="bot">
            <button type="button" class="add-btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#modalCadastroLivro">
                <i class="fa-solid fa-plus"></i>Adicionar Livro
            </button>
        </div>

        <div class="livro-hud" id="livroTemplate" style="display: none;">
            <img class="livro" src="../static/img/placeholder.jpg" alt="Capa do Livro">
            <div class="titulo">
                <p class="livro-titulo"></p>
            </div>
            <div class="actions">
                <button class="edit" data-bs-toggle="modal" data-bs-target="#modalEditarLivro"
                    onclick="editarLivro(this)">
                    Editar
                </button>
                <button class="delete" onclick="deletarLivro(this)">Deletar</button>
            </div>
        </div>

        <div id="livrosList"></div>
    </section>

    <!-- MODAL PARA CADASTRO DE LIVRO -->
    <div class="modal fade" id="modalCadastroLivro" tabindex="-1" aria-labelledby="modalCadastroLivroLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCadastrarLivroLabel">Cadastrar Livro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form class="formCadastroLivro" id="formCadastroLivro">
                        <div class="mb-3">
                            <label class="bloco">Titulo:</label>
                            <input type="text" placeholder="Titulo do livro" class="inserir" id="titulo" name="titulo"
                                required>
                        </div>

                        <div class="mb-3">
                            <label class="bloco">Autor:</label>
                            <input type="text" placeholder="Nome do autor" class="inserir" id="autor" name="autor"
                                required>
                        </div>

                        <div class="mb-3">
                            <label class="bloco">Data de publicação:</label>
                            <input type="date" class="inserir" id="data_publicacao" name="data_publicacao" required>
                        </div>

                        <div class="mb-3">
                            <label class="bloco">ISBN:</label>
                            <input type="text" placeholder="ISBN do livro" class="inserir" id="ISBN" name="ISBN"
                                required>
                        </div>

                        <div class="mb-3">
                            <label class="bloco">Descrição:</label>
                            <input type="text" placeholder="Conte um pouco sobre o livro" class="inserir" id="descricao"
                                name="descricao">
                        </div>

                        <div class="mb-3">
                            <label class="bloco">Quantidade:</label>
                            <input type="number" placeholder="Ex.: 1, 2 ou 3" class="inserir" id="quantidade"
                                name="quantidade" required>
                        </div>

                        <div class="mb-3">
                            <label for="categoria" class="coisa">Categoria:</label>
                            <select class="inserir" name="categoria" id="categoria">
                        
                                <option class="inserir" value="Romance">Romance</option>
                                <option class="inserir" value="Terror">Terror</option>
                                <option class="inserir" value="Ficcao_cientifica">Ficção científica</option>
                                <option class="inserir" value="Enciclopedia">Enciclopédia</option>
                                <option class="inserir" value="Conto">Conto</option>
                                <option class="inserir" value="Diario">Diário</option>
                                <option class="inserir" value="Drama">Drama</option>
                                <option class="inserir" value="Aventura">Aventura</option>
                                <option class="inserir" value="Suspense">Suspense</option>
                                <option class="inserir" value="Fantasia">Fantasia</option>
                                <option class="inserir" value="Biografia">Biografia</option>
                                <option class="inserir" value="Autoajuda">Autoajuda</option>
                                <option class="inserir" value="Historia">História</option>
                                <option class="inserir" value="Poesia">Poesia</option>
                                <option class="inserir" value="Policial">Policial</option>
                                <option class="inserir" value="Religioso">Religioso</option>
                                <option class="inserir" value="Erótico">Erótico</option>
                                <option class="inserir" value="Didatico">Didático</option>
                                <option class="inserir" value="Tecnico">Técnico</option>
                                <option class="inserir" value="HQ">HQ / Mangá</option>
                                <option class="inserir" value="Mitologia">Mitologia</option>
                                <option class="inserir" value="Infantil">Infantil</option>
                                <option class="inserir" value="Juvenil">Juvenil</option>
                                <option class="inserir" value="Epistolar">Epistolar (cartas)</option>
                                <option class="inserir" value="Ensaios">Ensaios</option>
                                <option class="inserir" value="Memorias">Memórias</option>
                                
                                
                            </select>
                        </div>
                        

                        <div class="mb-3">
                            <label for="imagem" class="form-label">Imagem do Livro</label>
                            <input type="file" class="form-control" id="imagem" name="imagem" accept="image/*">
                            <img id="previewImagem" src="" alt="Pré-visualização da Imagem"
                                style="display: none; margin-top: 10px; max-width: 100%; height: auto;">
                        </div>

                        <button type="submit" class="save-btn">Enviar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- FIM DO MODAL DE CADASTRO -->


    <!-- MODAL PARA EDIÇÃO DE LIVROS -->
    <div class="modal fade" id="modalEditarLivro" tabindex="-1" aria-labelledby="modalEditarLivroLabel">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarLivroLabel">Editar Livro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form class="formEditarLivro" id="formEditarLivro">

                        <div class="mb-3">
                            <input type="hidden" id="id_livro" name="id_livro">
                        </div>

                        <div class="mb-3">
                            <label class="bloco">Titulo:</label>
                            <input type="text" placeholder="Titulo do livro" class="inserir" id="tituloEditar"
                                name="titulo" required>
                        </div>

                        <div class="mb-3">
                            <label class="bloco">Autor:</label>
                            <input type="text" placeholder="Nome do autor" class="inserir" id="autorEditar" name="autor"
                                required>
                        </div>

                        <div class="mb-3">
                            <label class="bloco">Data de publicação:</label>
                            <input type="date" class="inserir" id="data_publicacaoEditar" name="data_publicacao"
                                required>
                        </div>

                        <div class="mb-3">
                            <label class="bloco">ISBN:</label>
                            <input type="text" placeholder="ISBN do livro" class="inserir" id="ISBNEditar" name="ISBN"
                                required>
                        </div>

                        <div class="mb-3">
                            <label class="bloco">Descrição:</label>
                            <input type="text" placeholder="Conte um pouco sobre o livro" class="inserir"
                                id="descricaoEditar" name="descricao">
                        </div>

                        <div class="mb-3">
                            <label class="bloco">Quantidade:</label>
                            <input type="number" placeholder="Ex.: 1, 2 ou 3" class="inserir" id="quantidadeEditar"
                                name="quantidade" required>
                        </div>

                        <div class="mb-3">
                            <label for="categoriaEditar" class="coisa">Categoria:</label>
                            <select class="inserir" name="categoria" id="categoriaEditar">
                                <option value="Romance">Romance</option>
                                <option value="Terror">Terror</option>
                                <option value="Ficcao_cientifica">Ficção científica</option>
                                <option value="Enciclopedia">Enciclopédia</option>
                                <option value="Conto">Conto</option>
                                <option value="Diario">Diário</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="imagemEditar" class="form-label">Imagem do Livro</label>
                            <input type="file" class="form-control" id="imagemEditar" name="imagem" accept="image/*">
                            <img id="previewImagemEditar" src="" alt="Pré-visualização da Imagem"
                                style="display: none; margin-top: 10px; max-width: 100%; height: auto;">
                        </div>

                        <button type="submit" class="save-btn">Salvar Alterações</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FIM DO MODAL DE EDIÇÃO -->


    <footer class="inter">
        <div class="separacao1">
            <p>Entre em contato conosco</p>
            <div class="redes">
                <a href="https://www.whatsapp.com/?lang=pt_BR">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="https://www.instagram.com">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://br.linkedin.com">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://x.com/?lang=pt">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://pt-br.facebook.com/login/device-based/regular/login/">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
        </div>
        <div class="rodape-inter">
            <div class="informacao">
                <p class="informacoes">INFORMAÇÕES</p>
                <div class="linha"></div>
                <div class="display">
                    <i class="fa-solid fa-envelope icons"></i>
                    <p class="text">asa.literaria@email.com</p>
                </div>
                <div class="display">
                    <i class="fa-solid fa-phone icons"></i>
                    <p class="text">(18)99999-9999</p>
                </div>
            </div>
            <div class="imagem">
                <img class="logo_rodape" src="../static/img/logo.png" alt="logo">
            </div>
            <div class="localizacao">
                <p class="local">LOCALIZAÇÃO
                    <br>
                    Birigui - SP
                </p>
            </div>
        </div>
        <div class="as">
            <a href="https://www.google.com.br/?hl=pt-BR" class="text2">Termos de Uso</a>
            <a href="https://www.google.com.br/?hl=pt-BR" class="text2">Política de privacidade</a>
        </div>
    </footer>

    <script>
        // FUNÇÃO PARA EXIBIR OS LIVROS CADASTRADOS NO SITE (GET):
        function carregarLivros() {
            var token = localStorage.getItem("token");

            $.ajax({
                method: "GET",
                url: ipPython + "/livro", // Corrigir a rota para /livro
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (livros) {
                    $("#livrosList").empty(); // Limpa a lista antes de adicionar novos livros
                    livros.livros.forEach(function (livro) {
                        var livroElement = $("#livroTemplate").clone();
                        livroElement.attr("style", "display: block;");
                        livroElement.find(".livro").attr("src", ipPython + "/static/uploads/Livros/" + livro.id_livro + ".jpeg");
                        livroElement.find(".livro").attr("alt", livro.titulo);
                        livroElement.find(".livro-titulo").text(livro.titulo); // <-- AQUI
                        livroElement.data("id_livro", livro.id_livro);
                        $("#livrosList").append(livroElement);
                    });
                },

                error: function (error) {
                    console.error("Erro ao carregar livros:", error);
                }
            });
        }

        // Chama a função ao carregar a página
        $(document).ready(function () {
            carregarLivros();
        });
        // FIM DA FUNÇÃO (GET)




        // FUNÇÃO PARA EXIBIR A PRÉ-VISUALIZAÇÃO DA IMAGEM DO LIVRO NO CADASTRO:
        $("#imagem").on("change", function (e) {
            var file = e.target.files[0]; // Obtém o arquivo selecionado
            var reader = new FileReader(); // Cria um novo FileReader

            reader.onload = function (event) {
                $("#previewImagem").attr("src", event.target.result); // Define a fonte da imagem para a URL do arquivo
                $("#previewImagem").show(); // Exibe a imagem
            };

            if (file) {
                reader.readAsDataURL(file); // Lê o arquivo como uma URL de dados
            } else {
                $("#previewImagem").hide(); // Esconde a imagem se nenhum arquivo for selecionado
            }
        });



        // FUNÇÃO PARA EXIBIR A PRÉ-VISUALIZAÇÃO DA IMAGEM DO LIVRO NO EDITAR:
        $("#imagemEditar").on("change", function (e) {
            var file = e.target.files[0]; // Obtém o arquivo selecionado
            var reader = new FileReader(); // Cria um novo FileReader

            reader.onload = function (event) {
                $("#previewImagemEditar").attr("src", event.target.result); // Define a fonte da imagem para a URL do arquivo
                $("#previewImagemEditar").show(); // Exibe a imagem
            };

            if (file) {
                reader.readAsDataURL(file); // Lê o arquivo como uma URL de dados
            } else {
                $("#previewImagemEditar").hide(); // Esconde a imagem se nenhum arquivo for selecionado
            }
        });




        // FUNÇÃO PARA CADASTRAR LIVROS (POST):
        $("#formCadastroLivro").on("submit", function (e) {
            e.preventDefault(); // Impede o comportamento padrão do formulário

            var token = localStorage.getItem("token");
            var formData = new FormData(this); // Cria um FormData a partir do formulário

            formData.append("imagem", $("#imagem")[0].files[0]); // Adiciona a imagem ao FormData

            $.ajax({
                method: "POST",
                url: ipPython + "/livros",
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                data: formData,
                processData: false, // Impede o jQuery de processar os dados
                contentType: false, // Impede o jQuery de definir o cabeçalho Content-Type
                success: function (retorno) {
                    Swal.fire({
                        title: "Sucesso!",
                        text: "Livro adicionado com sucesso",
                        icon: "success"
                    });
                    carregarLivros(); // Atualiza a lista de livros
                },
                error: function (retorno) {
                    Swal.fire({
                        title: "Erro!",
                        text: JSON.parse(retorno.responseText).error || "Erro ao adicionar livro.",
                        icon: "error"
                    });
                }
            });
        });
        // FUNÇÃO PARA EDITAR LIVROS (PUT):
        function editarLivro(button) {
            var livroElement = $(button).closest('.livro-hud');
            var id = livroElement.data("id_livro"); // Obtém o ID do livro

            // Fazer uma requisição para buscar os dados do livro
            $.ajax({
                method: "GET",
                url: ipPython + "/livro/" + id, // Corrigir a URL para buscar o livro específico
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("token")
                },
                success: function (response) {
                    const livro = response.livros[0]
                    // Preenche o formulário com os dados do livro
                    $("#id_livro").val(livro.id_livro); // Adiciona o ID do livro ao campo oculto
                    $("#tituloEditar").val(livro.titulo);
                    $("#autorEditar").val(livro.autor);
                    $("#data_publicacaoEditar").val(livro.data_publicacao);
                    $("#ISBNEditar").val(livro.ISBN);
                    $("#descricaoEditar").val(livro.descricao);
                    $("#quantidadeEditar").val(livro.quantidade);
                    $("#categoriaEditar").val(livro.categoria);
                    $("#formEditarLivro").data("id", id); // Armazena o ID do livro no formulário
                    $("#modalEditarLivro").modal("show"); // Abre o modal de edição
                },
                error: function (error) {
                    console.error("Erro ao carregar livro:", error);
                }
            });
        }

        // AQUI ENVIA O FORMULÁRIO DE EDIÇÃO
        $("#formEditarLivro").on("submit", function (e) {
            e.preventDefault(); // Impede o comportamento padrão do formulário

            var token = localStorage.getItem("token");
            var id = $("#formEditarLivro").data("id"); // Obtém o ID do livro se estiver editando

            var formData = new FormData(this); // Cria um FormData a partir do formulário

            $.ajax({
                method: "PUT",
                url: ipPython + "/livros/" + id, // Corrigir a URL para incluir o ID do livro
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                data: formData,
                processData: false, // Impede o jQuery de processar os dados
                contentType: false, // Impede o jQuery de definir o cabeçalho Content-Type
                success: function (retorno) {
                    Swal.fire({
                        title: "Sucesso!",
                        text: "Livro editado com sucesso",
                        icon: "success"
                    });
                    carregarLivros(); // Atualiza a lista de livros
                    $("#modalEditarLivro").modal("hide"); // Fecha o modal de edição
                },
                error: function (retorno) {
                    Swal.fire({
                        title: "Erro!",
                        text: "Não foi possível editar o livro.",
                        icon: "error"
                    });
                }
            });
        });
        // FIM DA FUNÇÃO (PUT)




        // FUNÇÃO PARA DELETAR LIVROS (DELETE):
        function deletarLivro(button) {
            var livroElement = $(button).closest('.livro-hud'); // Encontra o elemento do livro
            var id = livroElement.data("id"); // Obtém o ID do livro

            var token = localStorage.getItem("token"); // Obtém o token de autenticação

            // Confirmação antes de excluir
            Swal.fire({
                title: 'Você tem certeza?',
                text: "Você não poderá reverter isso!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Sim, excluir!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Faz a requisição DELETE
                    $.ajax({
                        method: "DELETE",
                        url: ipPython + "/livros/" + id,
                        headers: {
                            'Authorization': 'Bearer ' + token
                        },
                        success: function (response) {
                            Swal.fire(
                                'Excluído!',
                                'O livro foi excluído com sucesso.',
                                'success'
                            );
                            carregarLivros(); // Atualiza a lista de livros
                        },
                        error: function (error) {
                            Swal.fire(
                                'Erro!',
                                'Não foi possível excluir o livro.',
                                'error'
                            );
                        }
                    });
                }
            });
        }



        // LOGOUT
        var nome = localStorage.getItem("nome")
        document.getElementById("nomeUsuario").innerHTML = nome
        document.querySelector(".menu-item button").addEventListener("click", function () {
            localStorage.removeItem("token"); // Remove o token do localStorage
            localStorage.removeItem("id_usuario");
            localStorage.removeItem("nome");
            localStorage.removeItem("cargo");
            localStorage.removeItem("email");
            localStorage.removeItem("multa");
            localStorage.removeItem("data_nascimento");
            localStorage.removeItem("telefone");
            localStorage.removeItem("imagem_usuario");
            window.location.href = "login.html"; // Redireciona para a página de login
        });

    </script>
</body>

</html>