<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="../static/js/scripts.js"></script>
    <script src="../static/js/seguranca.js" defer></script>
    <link rel="stylesheet" href="../static/css/livros.css" />
</head>
<body>
    <header>
        <!-- Logo -->
        <div class="header-left">
            <img src="../static/img/logo.png" alt="Logo">
        </div>

        <!-- Barra de Pesquisa -->
        <div class="header-center">
            <div class="search-container">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Pesquise Seu Livro" class="search-box">
            </div>
        </div>

        <!-- Dark Mode -->
        <div class="header-right">
            <div class="switch-container">
                Dark Mode
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
        </div>

        <!-- Ícone de Menu com Dropdown -->
        <div class="header-end">
            <div class="menu-container">
                <div class="menu-icon" id="menuButton">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <ul class="dropdown-menu" id="dropdownMenu">
                    <li class="menu-item"><i class="fas fa-user"></i> Perfil</li>
                    <li class="menu-item"><i class="fas fa-user"></i>Adicionar Bibliotecario</li>   
                    <hr>
                    <li class="menu-item"><i class="fa-solid fa-cash-register"></i>Gerenciar Multas</li>
                    <li class="menu-item"><i class="fas fa-book"></i> Gerenciar Livros</li>
                    <li class="menu-item"><i class="fas fa-sync-alt"></i>Empréstimos</li>
                    <hr>
                    <li class="menu-item"><i class="fas fa-sign-out-alt"></i> Sair</li>
                </ul>
            </div>
        </div>
    </header>

    <section>

        <div class="bot">
            <button class="add-btn"><i class="fa-solid fa-plus"></i>Adicionar Livro</button>
        </div>

        <div class="livro-hud">
            <a></a><img class="livro" src="../static/img/harry potter 1.jpg"></a>
            <div class="actions">
                <button class="edit">Editar</button>
                <button class="delete">Deletar</button>
            </div>
        </div>

    </section>

    <script>

    </script>
</body>
</html>